#cy {
	width: 80%;
	height: 90%;
	position: absolute;
	left: 0px;
}

@media (min-width: 768px){
  .container{
    max-width:90%;
  }
}

@media (min-width: 992px){
  .container{
    max-width:90%;
  }
}

a:link {
    color: #097DC9;
}

/* A link that has been visited */
a:visited {
    color: #097DC9;
}

/* A link that is hovered on */
a:hover {
    color: #097DC9;
}

/* A link that is selected */
a:active {
    color: #097DC9;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

#searchform{
  background:#EBF5FB;
  padding-top: 0;
  padding-left: 0;

}

.loginout {
  color: black
}

.inval {
  font-size: 1.3rem;
  font-weight: 80;
  color:red
}

ul {
  margin-left:40px;
}

.main { 
  flex: 1;
  padding: 30px 0;
}

body 
{
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  padding-bottom: 40px;
}

footer {
     color: white;
     font-size: small;
     padding: 3px 0;
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
}

.footer a {
     color: yellow; 
     text-decoration: none;
     transition: color 0.3s ease;
}

.footer a:hover {
     color: #adb5bd;
}
